!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    %link{ href: url('bootstrap.min.css'), rel: 'stylesheet', type: 'text/css', }

    %title HiveStalker
  %body
    %main.container{ role: 'main' }
      =yield


